* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("https://i.pinimg.com/originals/87/28/a8/8728a856405bcc20f320539173a1f05a.gif");
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    background-position: fixed; 
    /* filter:drop-shadow(8px 8px 10px gray); */
}

.my_page{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
   
}
.welcome-img{
    display:block;
    cursor: pointer;
    margin: 0px auto;
}
.popup-wrapper {
    background: rgba(0,0,0,0.5);
    background-size: cover;
    position: fixed;
    top: 0px;
    left:0;
    width:100%;
    height:100%;
    display: none;
}  
.bio-popup{
    font-family: "Montserrat", "Quicksand", sans-serif;
    text-align: left;
    width:100%;
    max-width:35em;
    height:27em;
    box-sizing: border-box;
    margin:10% auto;
    padding: 20px;
    background: #fff;
    position: relative; 
    border: 2px solid turquoise;
    border-radius:10px;
    
    
} 
.popup-content{
    font-size: 15px;;
    margin-top:10px ;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 1.5em;
    
}
.myContact{
    margin-top:15px;
    text-align: center;
    font-size: 15px;
    color:black;
}
.skillsPopup-close{
    font-size: 20px;
    position: absolute;
    top:5px;
    right:10px;
    cursor: pointer;

}

 a {
    font-family: "Montserrat", "Quicksand", sans-serif;
    color: turquoise;
    font-size: 25px;
    text-decoration: none;
    padding: 10px;
}
    a:hover {
    transform: scale(1.02) translateY(-4px);
    color: blue;
}

.container {
    display: grid;
    grid-template-rows: 300px ;
    grid-template-columns: 500px 200px;
    justify-content: center; 
    align-items: center;
    margin-top: 130px;
}
 
.auto-slider {
    grid-row: 1;
    grid-column: 1;
    border:1px gray;
    border-radius: 150px ;
    cursor: pointer;
    overflow: hidden;
    width:300px;
    height:300px;
}

.auto-slider__content{
    list-style: none;
    display: flex;
    animation-name: slide;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.auto-slider__content:hover {
    animation-play-state: paused;

}

@keyframes slide {
    10%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(-300px);
    }
    30%{
        transform: translateX(-600px);
    }
    40%{
        transform: translateX(-900px);
    }
    50%{
        transform: translateX(-1200px);
    }
    60%{
        transform: translateX(-1500px);
    }
    70%{
        transform: translateX(-1800px);
    }
    80%{
        transform: translateX(-2100px);
    }
    90%{
        transform: translateX(-2400px);
    }
    100%{
        transform: translateX(-2700px);
    }
    
}

h3 {
    font-family: "Montserrat", "Quicksand", sans-serif;
    margin-left:21%;
    cursor: pointer;
}

h3:hover {
    transform: scale(1.04) translateY(-4px);
    color: blue;
}

.my_links {
    /* margin-top: 20px; */
    grid-row-start: 1;
    grid-column-start: 2;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
}  
 .button {
    margin-top: 15px;
    border-radius: 40px;
    width:130px;
    background-color: gray;
    text-align: center;
    color: turquoise;
    font-family: "Montserrat", "Quicksand", sans-serif;
    letter-spacing: 0.1em;
    transition-property: box-shadow, transform;
    user-select: none;
    vertical-align: top;
    white-space: nowrap;
    transform-origin: center; 
    transition-duration: 100ms;
    font-weight: 500; 
}

  .button:hover {
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    transform: scale(1.05) translateY(-4px);
    color: blue;
}

 .button:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    transform: scale(0.98) translateY(-2px);
}
 
.social-media{
    display: inline-flex;
    margin-top: 10px;
}
.social_links {
    padding:3px;
    
}
  

