* {
    margin: 0px;
    padding: 0px;
    
}  
body {
    background-image: linear-gradient(rgb(75, 132, 136));
    background-repeat: no-repeat;
    background-color:rgb(133, 235, 201);
}
header{
    border: 2px;
    border-color: black;
     
}

ul,li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    padding: 10px;
    text-decoration-style: none;
    
}
h1 {
    text-align: center;
    padding: 20px;
    font-family:sans-serif;
    color: black;
}   
h2{
    text-align: center;
    Padding:10px
}
