* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

   
}
body{
    /*background-image: url("https://wallpaperset.com/w/full/3/0/3/36698.jpg" );*/
    background-image: url("https://www.visittci.com/core/cover-governors-beach-grand-turk-on-a-calm-day_1024x341.jpg");
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    
}
.my_page{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

ul {
    
    background-color: gray;
    width:100%;
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
}  
li {
    
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    padding: 7px;
}

  a {
    color: turquoise;
    font-size: 25px;
    text-decoration: none;
    padding: 10px;
}
    a:hover {
    transform: scale(1.02) translateY(-4px);
    color: blue;
  }
/* h1 {
    font-size: 30px;
    font-family:sans-serif;
    margin-top: 25px ;
    margin-bottom: 35px;
    color:black;
    font-weight: lighter;
    font-style: italic;
    text-align:center;
    
} */
.container {
    display: grid;
    grid-template-rows: 100px 100px 100p;
    grid-template-columns: 500px 200px;
    justify-content: center;
    margin-top: 130px;
}
 
.my_image {
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-template-rows: 200px;
    border:1px solid black;
    border-radius: 150px ;
   
}
.my_links {

    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
   
}  
 .button {
    /* margin-top:30px; */
    /* padding:20px; */
    border-radius: 40px;
    width:140px;
    background-color: gray;
    text-align: center;
    color: turquoise;
    font-family: "Montserrat", "Quicksand", sans-serif;
    letter-spacing: 0.1em;
    transition-property: box-shadow, transform;
    user-select: none;
    vertical-align: top;
    white-space: nowrap;
    will-change: box-shadow, transform;
    transform-origin: center;
    transition-duration: 100ms;
    font-weight: 500;
  }

  .button:hover {
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    transform: scale(1.02) translateY(-4px);
    color: blue;
  }
  
    .button:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    transform: scale(0.98) translateY(-2px);
  }

 .popup{
    font-family: arial;
    text-align: center;
    width:100%;
    max-width: 400px;
    margin:10% auto;
    padding: 20px;
    background: #fff;
    position: relative;
} 
  
/* .my_footer{
    position: absolute;
    bottom:-20px;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    padding:20px;
    margin-left:45%;
}
.my_footer a {
    padding:30px;
}
 */

